html, body { 
	height: 100%; 
	width:  100%; 
	margin: 0;
	background-color: antiquewhite;
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	font-size:  20pt;
	text-align: center;
}

h2 {
	font-size:  18pt;
	text-align: center;
}	

h3 {
	font-size:  16pt;
	text-align: center;
}

.chart{
	width:  50%;
	height: 70%;
	float:  right;
}

#tempDiv {
	float: left;
}

#pressureDiv{
	float: right;
}

